username=<RedditUsername>
password=<RedditPassword>
client_id=<Get_it_from_reddit_api>
client_secret=<Get_it_from_reddit_api>
TOTAL_SUBREDDITS_PER_TOPICS=6
SUBREDDIT_SORT_FILTER=hot
POSTS_PER_SUBREDDIT=10
POSTS_SORT_FILTER=new
